body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #2db12b;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
}

header input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 20px;
}

.meal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.meal img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #189b2c;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.meal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.meal {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    text-align: center;
}

.meal img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}